---
---

@import "minima";

.site-title, .site-title:visited, .footer-heading { color: #69822D; }
.page-heading {color: #E27E36; }
.post-meta {color: #69822D; }
a { color: #AE3D2E; }
a:visited { color: #821D1C; }
.site-nav .page-link { color: #69822D;}